{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Caravan Master</h1>
        </div>
    </div>
</section>

<section class="welcome">
    <div class="row">
        <div class="col-6">
            <h3>Welcome to Caravan Master</h3>
            <p class="body-text">You wake up after what feels like the longest sleep, in an empty room. Find out the truth of what happened and travel from city to city trading goods in a wasteland ravished by COVID-19</p>
        </div>
        <div class="col-6 text-center">
            <img src="{% static 'img/journey.png' %}" alt="Journey Icon" class="img-fluid button-img">
        </div>
    </div>
</section>

{% endblock %}