{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | {{ ava }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-6">
            <a href="{% url 'avatar_screen' ava.pk %}" role="button" class="btn btn-success" aria-disabled="false">Avatar</a>
            <a href="{% url 'crew' ava.pk %}" role="button" class="btn btn-warning" aria-disabled="false">Crew</a>
            <a href="{% url 'caravan' ava.cav.pk %}" role="button" class="btn btn-info" aria-disabled="false">Caravan</a>
            <div class="row mt-2">
                <div class="col-md">
                    <p class="bar-stat">Gold: {{ ava.gold }}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <a href="{% url 'party_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Saves</a>
            <a href="{% url 'member_home' %}" role="button" class="btn btn-success" aria-disabled="false">Member</a>
            <a href="{% url 'world_index' %}" role="button" class="btn btn-info" aria-disabled="false">World</a>
            <a href="{% url 'rename_avatar' ava.pk %}" role="button" class="btn btn-info" aria-disabled="false">Rename</a>
            <a href="{% url 'delete_avatar' ava.pk %}" role="button" class="btn btn-danger" aria-disabled="false">Delete</a>
        </div>
    </div>
</section>

<section class="stats">
    <div class="row text-center">
        <div class="col-12">
            <h3>{{ ava.name }}</h3>
            <div class="row">
                <div class="col-2">
                    <p class="avatar-stat">Level: {{ ava.level }}</p>
                </div>
                <div class="col-2">
                    <p class="avatar-stat">Gold: {{ ava.gold }}</p>
                </div>
                <div class="col-2">
                    <p class="avatar-stat">XP: {{ ava.xp }}</p>
                </div>
                <div class="col-2">
                    <p class="avatar-stat">Attack: {{ ava.attack }}</p>
                </div>
                <div class="col-2">
                    <p class="avatar-stat">Defense: {{ ava.defense }}</p>
                </div>
                <div class="col-2">
                    <p class="avatar-stat">Intel: {{ ava.intel }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="caravan">
    <div class="row">
        <div class="col-4 text-center">
            <h5><a href="{% url 'crew' ava.pk %}" class="cav-item">Crew</a></h5>
            <p>Size: {{ ava.crew.count }}</p>
        </div>
        <div class="col-4 text-center">
            {% if ava.cav %}
            <h5>
                <a href="{% url 'caravan' ava.cav.pk %}" class="cav-item">{{ ava.cav }}</a>
            </h5>
            <p>Size: {{ ava.cav.guard.count }}/{{ ava.cav.size }}</p>
            {% else %}
            <a href="{% url 'start_caravan' ava.pk %}" role="button" class="btn btn-success" aria-disabled="false">Start Caravan</a> {% endif %}
        </div>
        <div class="col-4"></div>
    </div>
</section>

{% endblock %}