{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | {{ cav }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-12">
            <a href="{% url 'avatar_screen' cav.owner.pk %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="caravan">
    <div class="row">
        <div class="col-4 text-center">
            <h5>{{ cav }}</h5>
            <p>Size: {{ cav.size }}</p>
        </div>
        <div class="col-4">
        </div>
    </div>
</section>

{% endblock %}