{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | {{ cav }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-md-6 col-12">
            <a href="{% url 'avatar_screen' cav.owner.pk %}" role="button" class="btn btn-success" aria-disabled="false">Avatar</a>
            <a href="{% url 'crew' cav.owner.pk %}" role="button" class="btn btn-warning" aria-disabled="false">Crew</a>
            <a href="{% url 'caravan' cav.pk %}" role="button" class="btn btn-info" aria-disabled="false">Caravan</a>
        </div>
        <div class="col-md-6 col-12">
            <p class="bar-stat">Gold: {{ cav.owner.gold }}</p>
        </div>
    </div>
</section>

<section class="cav-header">
    <div class="row mb-3">
        <div class="col-4 text-center">
            <h2>{{ cav }}</h2>
            <p class="caravan-link ml-2">Currently At <a href="{% url 'location' cav.currently_at.pk %}">{{ cav.currently_at }}</a></p>
            <a href="{% url 'move_caravan' cav.pk %}" role="button" class="btn btn-info" aria-disabled="false">Move</a>
        </div>
    </div>
</section>

<section class="cav-crew">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Crew</h3>
        </div>
        <div class="col-md-6 col-12">
            <h5 class="text-center">Guard</h5>
            <p class="text-center">Size: {{ cav.guard.count}}/{{ cav.size }}</p>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Atk</th>
                        <th scope="col">Def</th>
                        <th scope="col">Int</th>
                        <th scope="col">Lvl</th>
                        <th scope="col">Mng</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in guard %}
                    <tr>
                        <th scope="row" class="party-list-name"><a href="{% url 'crew_member' c.pk %}">{{ c.base.name }}</a></th>
                        <td>{{ c.base.attack }}</td>
                        <td>{{ c.base.defense }}</td>
                        <td>{{ c.base.intel }}</td>
                        <td>{{ c.base.level }}</td>
                        <td class="party-list-item"><a href="{% url 'assign_crew_to_caravan' c.pk cav.pk %}"><i class="fas fa-user-minus"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-12">
            <h5 class="text-center">Unassigned Crew</h5>
            <p class="text-center">Total: {{ crew.count }}</p>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Atk</th>
                        <th scope="col">Def</th>
                        <th scope="col">Int</th>
                        <th scope="col">Lvl</th>
                        <th scope="col">Mng</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in crew %}
                    <tr>
                        <th scope="row" class="party-list-name"><a href="{% url 'crew_member' c.pk %}">{{ c.base.name }}</a></th>
                        <td>{{ c.base.attack }}</td>
                        <td>{{ c.base.defense }}</td>
                        <td>{{ c.base.intel }}</td>
                        <td>{{ c.base.level }}</td>
                        <td class="party-list-item"><a href="{% url 'assign_crew_to_caravan' c.pk cav.pk %}"><i class="fas fa-user-plus"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="cav-inv">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Inventory</h3>
        </div>
    </div>
</section>

{% endblock %}