{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | {{ mem }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-6">
            <a href="{% url 'member_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Member</a>
        </div>
    </div>
</section>

<section class="stats">
    <div class="row text-center">
        <div class="col-12">
            <h3>{{ mem.name }}</h3>
            <div class="row">
                <div class="col-md">
                    <p class="avatar-stat">Level: {{ mem.level }}</p>
                </div>
                <div class="col-md">
                    <p class="avatar-stat">Attack: {{ mem.attack }}</p>
                </div>
                <div class="col-md">
                    <p class="avatar-stat">Defense: {{ mem.defense }}</p>
                </div>
                <div class="col-md">
                    <p class="avatar-stat">Intel: {{ mem.intel }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}