{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | Member Home {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-6">
            <a href="{% url 'party_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Member Home</h1>
        </div>
    </div>
</section>

<section class="welcome">
    <div class="row">
        <div class="col-6">
            <h4>Member Bases:</h4>
            <a href="{% url 'create_member_base' %}" role="button" class="btn btn-success mb-3" aria-disabled="false">Create Member</a>
            <ul class="party-list">
                {% for m in mems %}
                <li class="party-list-item">
                    <a href="{% url 'member_base' m.pk %}">{{ m.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}