{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | Party {% endblock %} {% block content %}

<section class="header">
    <div class="row mb-5">
        <div class="col-12 text-center">
            <h1 class="headliner-text">Party Home</h1>
        </div>
    </div>
</section>

<section class="welcome">
    <div class="row">
        <div class="col-6">
            <h3>Party Options</h3>
            <p class="body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, modi et quaerat perferendis nulla itaque ratione ea natus quis! Cumque?</p>
        </div>
    </div>
</section>

{% endblock %}