{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | {{ camp }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-md-6 col-12">
            <a href="{% url 'avatar_screen' ava.pk %}" role="button" class="btn btn-success" aria-disabled="false">Avatar</a>
            <a href="{% url 'crew' ava.pk %}" role="button" class="btn btn-warning" aria-disabled="false">Crew</a>
            <a href="{% url 'caravan' ava.cav.pk %}" role="button" class="btn btn-info" aria-disabled="false">Caravan</a>
            <a href="{% url 'location' camp.location.pk %}" role="button" class="btn btn-danger" aria-disabled="false">{{ camp.location }}</a>
            <div class="col-md-6 col-12">
                <p class="bar-stat">Gold: {{ ava.gold }}</p>
            </div>
        </div>
        {% if user.profile.staff_access %}
        <div class="col-md-6 col-12">
            <a href="{% url 'party_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Saves</a>
            <a href="{% url 'member_home' %}" role="button" class="btn btn-success" aria-disabled="false">Member</a>
            <a href="{% url 'world_index' %}" role="button" class="btn btn-info" aria-disabled="false">World</a>
        </div>
        {% endif %}
    </div>
</section>

<section class="campground">
    <div class="row text-center">
        <div class="col-12">
            <a href="{% url 'location' camp.location.pk %}" class="cav-item">
                <h3>{{ camp }}</h3>
            </a>
        </div>
    </div>
</section>

<section class="mercs">
    <div class="row">
        <div class="col-12">
            <h5 class="text-center mb-3">Hire Crew</h5>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Lvl</th>
                        <th scope="col">Cst</th>
                        <th scope="col">Mng</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in camp.mercs.all %}
                    <tr>
                        <th scope="row" class="party-list-name"><a href="{% url 'member_base' m.pk %}">{{ m.name }}</th>
                        <td>{{ m.level }}</td>
                        <td>{{ m.cost }}</td>
                        <td class="party-list-item"><a href="{% url 'hire_crew' m.pk ava.pk %}"><i class="fas fa-user-plus"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <p class="avatar-stat">Camp Gold</br>{{ camp.gold }}</p>
        </div>
    </div>
</section>


{% endblock %}