{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block page_title %} Caravan Master | Create Shop {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-5">
        <div class="col-12">
            <a href="{% url 'world_index' %}" role="button" class="btn btn-warning" aria-disabled="false">Back</a>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12 text-center">
        <h1>New Shop</h1>
    </div>
</div>

<form role="form" method="post" id="new_shop_form" action="{% url 'create_shop' %}">
    <div class="form-group">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md">
                {{ shop_form.location|as_crispy_field }}
                <p>Leave Blank To Create Nomad Shop</p>
            </div>
            <div class="form-group col-md">
                {{ shop_form.shop_type|as_crispy_field }}
            </div>
            <div class="form-group col-md">
                {{ shop_form.gold|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <input class="btn btn-success" id="submit_shop" name="commit" type="submit" value="Create Shop">
            </div>
        </div>
        <br>
    </div>
</form>

{% endblock %}