{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master | {{ loc }} {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-md-6 col-12">
            <a href="{% url 'avatar_screen' ava.pk %}" role="button" class="btn btn-success" aria-disabled="false">Avatar</a>
            <a href="{% url 'crew' ava.pk %}" role="button" class="btn btn-warning" aria-disabled="false">Crew</a>
            <a href="{% url 'caravan' ava.cav.pk %}" role="button" class="btn btn-info" aria-disabled="false">Caravan</a>
            <a href="{% url 'location' ava.cav.currently_at.pk %}" role="button" class="btn btn-danger" aria-disabled="false">{{ ava.cav.currently_at }}</a>
            <div class="col-md-6 col-12">
                <p class="bar-stat">Gold: {{ ava.gold }}</p>
            </div>
        </div>
        <div class="col-md-6 col-12">
            {% if user.profile.staff_access %}
            <a href="{% url 'party_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Saves</a>
            <a href="{% url 'member_home' %}" role="button" class="btn btn-success" aria-disabled="false">Member</a>
            <a href="{% url 'world_index' %}" role="button" class="btn btn-info" aria-disabled="false">World</a> {% endif %}
        </div>
    </div>
</section>

<section class="stats mb-3">
    <div class="row text-center">
        <div class="col-12">
            <h3>{{ loc.name }}</h3>
        </div>
        <div class="col-md">
            <p class="avatar-stat">Population</br>{{ loc.population }}</p>
        </div>
        <div class="col-md">
            <p class="avatar-stat">Prosperity</br>{{ loc.prosperity }}</p>
        </div>
        <div class="col-md">
            <p class="avatar-stat">Defense</br>{{ loc.defense }}</p>
        </div>
    </div>
</section>

<section class="player-cav mb-3">
    <div class="row text-center">
        <div class="col-md-6 col-12">
            {% if ava.cav.currently_at == loc %}
            <h3><a href="{% url 'caravan' ava.cav.pk %}" class="cav-item">{{ ava.cav }}</a></h3>
            <p>Guard: {{ ava.cav.guard.count}}/{{ ava.cav.size }}</p>
            <a href="{% url 'move_caravan' ava.cav.pk %}" role="button" class="btn btn-info" aria-disabled="false">Move</a> {% endif %}
        </div>
        <div class="col-md-6 col-12">
            {% if loc.camp %}
            <h3><a href="{% url 'campground' loc.camp.pk %}" class="cav-item mb-3">Campground</a></h3>
            <h5>Mercs For Hire: {{ loc.camp.mercs.all.count }} </h5>{% endif %}
        </div>
    </div>
</section>

<section class="shops mb-3">
    <div class="row">
        <div class="col-md-6 col-12">
            <h3>Shops</h3>
            {% for s in loc.shops.all %}
            <p><a href="{% url 'shop' s.pk %}" class="cav-item">- {{ s }}</a></p>
            {% endfor %}
        </div>
    </div>
</section>

<section class="caravans">
    <div class="row">
        <div class="col-6">
            <h3>Caravans</h3>
            {% for c in loc.caravans.all %}
            <p>- {{ c }}</p>
            {% endfor %}
        </div>
        <div class="col-6"></div>
    </div>
</section>

{% endblock %}