{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-6">
            <a href="{% url 'party_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Saves</a> {% if user.profile.staff_access %}
            <a href="{% url 'member_home' %}" role="button" class="btn btn-success" aria-disabled="false">Member</a>
            <a href="{% url 'world_index' %}" role="button" class="btn btn-info" aria-disabled="false">World</a> {% endif %}
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h3>World Index</h3>
        </div>
    </div>
</section>

<section class="locations">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'create_location' %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Create Location</a>
            <h3 class="text-center">Locations</h3>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Pop</th>
                        <th scope="col">Pro</th>
                        <th scope="col">Def</th>
                        <th scope="col">Cmp</th>
                        <th scope="col">Edt</th>
                        <th scope="col">Dlt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in locs %}
                    <tr>
                        <th scope="row" class="party-list-name"><a href="{% url 'location' l.pk %}">{{ l.name }}</a></th>
                        <td>{{ l.population }}</td>
                        <td>{{ l.prosperity }}</td>
                        <td>{{ l.defense }}</td>
                        <td>{% if l.camp %}<a href="{% url 'campground' l.pk %}"><i class="fas fa-campground active-camp"></i></a>{% else %}<a href="{% url 'create_camp' l.pk %}"><i class="fas fa-campground no-camp"></i></a>{% endif %}</td>
                        <td class="party-list-item"><a href="{% url 'edit_location' l.pk %}"><i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="party-list-item"><a href="{% url 'delete_location' l.pk %}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="shops">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'create_shop' %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Create Shop</a>
            <h3 class="text-center mb-3">Shops</h3>
        </div>
        <div class="col-6">
            <h4 class="text-center">Town Shops</h4>
            <ul class="party-list">
                {% for s in loc_shops %}
                <li class="party-list-item">
                    <a href="#">{{ s.location }}s {{ s }}</a><a href="{% url 'delete_shop' s.pk %}" onclick="return confirm('Delete {{ s.location }}s {{ s }}?');"><i class="fas fa-dumpster-fire delete-shop"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <h4 class="text-center">Nomad Shops</h4>
            <ul class="party-list">
                {% for s in nomad_shops %}
                <li class="party-list-item">
                    <a href="#">{{ s }}</a><a href="{% url 'delete_shop' s.pk %}" onclick="return confirm('Delete Nomad {{ s }}?');"><i class="fas fa-dumpster-fire delete-shop"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

{% endblock %}