{% extends 'base.html' %} {% load static %} {% block page_title %} Caravan Master {% endblock %} {% block content %}

<section class="button-nav">
    <div class="row mb-3 mt-1">
        <div class="col-6">
            <a href="{% url 'party_home' %}" role="button" class="btn btn-warning" aria-disabled="false">Saves</a> {% if user.profile.staff_access %}
            <a href="{% url 'member_home' %}" role="button" class="btn btn-success" aria-disabled="false">Member</a>
            <a href="{% url 'world_index' %}" role="button" class="btn btn-info" aria-disabled="false">World</a> {% endif %}
        </div>
    </div>
</section>

<section class="header">
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h3>World Index</h3>
        </div>
    </div>
</section>

<section class="world-tools">
    <div class="row">
        <div class="col-6">
            <a href="{% url 'create_location' %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Create Location</a>
            <h3 class="text-center">Locations</h3>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Pop</th>
                        <th scope="col">Pro</th>
                        <th scope="col">Def</th>
                        <th scope="col">Edt</th>
                        <th scope="col">Dlt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in locs %}
                    <tr>
                        <th scope="row" class="party-list-name"><a href="{% url 'location' l.pk %}">{{ l.name }}</a></th>
                        <td>{{ l.population }}</td>
                        <td>{{ l.prosperity }}</td>
                        <td>{{ l.defense }}</td>
                        <td class="party-list-item"><a href="{% url 'edit_location' l.pk %}"><i class="fas fa-pencil-alt"></i></a></td>
                        <td class="party-list-item"><a href="{% url 'delete_location' l.pk %}"><i class="far fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}