@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Background */

.bg {
    background-color: #f4f4f4;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #E0A410;
}

.nav-bg a {
    color: #1D1115;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #6F2D11;
}

.nav-button {
    color: #6F2D11;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #1D1115;
    margin: 8px 2px;
}


/* Party */

.party-list-item a {
    color: black;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.party-list-item a:hover {
    color: #0189d8;
    text-decoration: none;
}

.avatar-stat {
    font-size: 18px;
    padding: 1.25px;
}

.party-list-name a {
    color: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.party-list-name a:hover {
    color: #E0A410;
    text-decoration: none;
}

.cav-item {
    color: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cav-item:hover {
    color: #6F2D11;
    text-decoration: none;
}

.bar-stat {
    padding: 1.5px;
    margin-top: 5px;
}


/* Caravan */

.caravan-link a {
    color: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.caravan-link a:hover {
    color: #0189d8;
    text-decoration: none;
}


/* World */

.active-camp {
    color: #149c0f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.active-camp {
    color: #14e20c;
}

.no-camp {
    color: #811b1b;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.no-camp:hover {
    color: #eb1010;
}


/* Class Helpers */

tr {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* Fonts */

.headliner-text {
    font-weight: 700;
    font-size: 2.75rem;
}

.body-text {
    font-weight: 400;
    font-size: 1.25rem;
}


/* GAMEHOUSE ICONS */

.button-img {
    height: 150px;
    width: 150px;
}