{% extends 'base.html' %} {% load static %} {% block page_title %} | {{ profile }}'s Profile{% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <h2 class="text-center">{{ profile }}'s profile</h2>
    </div>
</div>

<section class="avatars">
    <div class="row">
        <div class="col-12">
            <h3>Avatars</h3>
            <ul class="ava-list">
                {% for a in avas %}
                <li class="ava-list-item">
                    <a href="{% url 'avatar_screen' a.pk %}">{{ a.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% if user.profile.staff_access %}
<div class="row">
    <div class="col-12 text-center mb-3">
        <a href="{% url 'admin_panel' %}" role="button" class="btn btn-success" id="admin-panel" aria-disabled="false">Admin Panel</a>
    </div>
</div>
{% endif %} {% endblock %}